body {
	text-align: center;
	background: linear-gradient(to right, #5c258d, #4389a2);
}

.text {
	font-family: "Press Start 2P", cursive;
	color: #f5edd4;
	text-shadow: 5px 5px rgb(58, 58, 58);
}

.title {
	font-size: 3rem;
	margin: 3%;
}

.container {
	display: block;
	width: 50%;
	margin: auto;
}

.btn {
	margin: 25px;
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 10px solid black;
	border-radius: 20%;
}

.game-over {
	background: linear-gradient(#f00000, #dc281e);
	opacity: 0.8;
}

.red {
	background: linear-gradient(to bottom right, #ed213a, #93291e);
}

.green {
	background: linear-gradient(to bottom right, #38ef7d, #11998e);
}

.blue {
	background: linear-gradient(to bottom right, #0575e6, #0a33c9);
}

.yellow {
	background: linear-gradient(to bottom right, #fcfa8a, #fffc00);
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}
